body{
  font-family: Helvetica;
  text-align: center;
}
.navlinks,
 .footlinks{
  color: white;
  font-weight: bold;
  }
  .navlinks{
    font-size: 18px;
  }
  .footlinks{
    font-size: 11px;
  }
.Header{
  background-image: url("../images/the-flatiron-building.png");
  }
.topHead{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.process{
  font-weight: bold;
  font-size: 32px;
}
.headings-list,
.banner{
  font-weight: bold;
  font-size: 23px;
}
.banner{
  background-image: url("../images/the-flatiron-building.png");
}
p{
font-size: 14px;
}
footer{
  display: inline;
}
.footer{
  text-align: left;
  background-color: dimgray;
}
.copyright{
  font-size: 11px;
  color: white;
}
